html, body {
    font-family: sans-serif;
}
body div {
    margin: 0.5em;
    min-height: 10px;
    /*min-width: 10px;*/
    background-color: pink;
}
table {
    padding: 1em;
    border-spacing: 5px;
}
td {
    background-color: #f8f8f8;
    padding: 0.1em 0.75em;
    text-align: right;
}